<h1>Eat-Da-Burger!</h1>

<h2>Ordered Burgers</h2>

<ul>
  {{#each burger}}
    {{#unless devoured}}
      <p>Burger Name: {{ burgerName }}</p>
      <form action="/api/burger/{{id}}?_method=PUT" method="POST">
      <button type="submit">Devour</button>
      </form>
    {{/unless}}
  {{/each}}
</ul>

<h2>Burgers Devoured</h2>

<ul>
  {{#each burger}}
    {{#if devoured}}
      <p>Burger Name: {{ burgerName }}</p>
    {{/if}}
  {{/each}}
</ul>

<h2>Add a burger</h2>
<form action="/api/burger" method="POST" class="create-form">

  <div class="form-group">
    <label for="ca">Burger Name:</label>
    <input type="text" id="ca" name="name">
  </div>

  <div class="form-group">
    <label for="devoured">Devoured?</label><br>
    <input type="radio" name="devoured" value="1" checked> Devoured!<br>
    <input type="radio" name="devoured" value="0"> Not Devoured
  </div>

  <button type="submit">Add Burger</button>
</form>
